main section.signup {
  .signup-form {
    display: flex;
    flex-direction: column;

    .signup-input {
      margin: 1em 2em;
      width: 15em;
    }

    .signup-btn {
      margin-left: 5.2em;
      margin-top: 1em;
      width: 8em;
    }
  }
}